# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# .NET
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# User secrets
**/secrets.json
